<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Letter</title>
    <style>
        input.ng-dirty.ng-invalid {
            border: 1px solid red;
        }
        
        form label {
            font-size: 12px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: -2px;
        }
        
        .messages label {
            margin-bottom: 10px;
        }
        
        input[type=radio] {
            vertical-align: top;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>

<body ng-app="messageApp">
    <div style="margin-top:10px; min-height: 10px;">&nbsp;</div>
    <div class="container" ng-controller="messageController">
        <div class="row well">
            <div class="col-md-4">
                <form name="messageForm" novalidate>
                    <div class="form-group">
                        <label for="txtTitle">YOUR TITLE *</label>
                        <select id="ddTitle" name="ddTitle" ng-model="title" class="form-control" required>
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">YOUR FIRST NAME - ISIM *</label>
                        <input type="text" class="form-control" ng-model="firstname" id="txtFirstName" name="txtFirstName" placeholder="First Name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">YOUR LAST NAME - SOYAD *</label>
                        <input type="text" class="form-control" ng-model="lastname" id="txtLastName" name="txtLastName" placeholder="Last Name" required
                        />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">YOUR EMAIL - EMAIL *</label>
                        <input type="email" class="form-control" ng-model="emailaddress" id="txtEmail" name="txtEmail" placeholder="Email Address"
                            ng-pattern="emailPattern" required />
                    </div>
                    <div class="form-group">
                        <label for="txtAddressLine1">ADDRESS 1 *</label>
                        <input type="text" class="form-control" ng-model="addressline1" id="txtAddressLine1" name="txtAddressLine1" placeholder="Address"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="txtAddressLine2">ADDRESS 2</label>
                        <input type="text" class="form-control" ng-model="addressline2" id="txtAddressLine2" name="txtAddressLine2" placeholder="Address (Cont'd)"
                        />
                    </div>
                    <div class="form-group">
                        <label for="txtCity">CITY - SEHIR * </label>
                        <input type="text" class="form-control" ng-model="city" id="txtCity" name="txtCity" placeholder="City" required />
                    </div>
                    <div class="form-group">
                        <label for="ddState">STATE / PROVINCE - EYALET / IL</label>
                        <input type="text" class="form-control" ng-model="state" id="ddState" name="ddState" placeholder="State / Eyalet" />
                    </div>
                    <div class="form-group">
                        <label for="txtPostalCode">ZIP / POSTAL CODE - POSTA KODU *</label>
                        <input type="text" class="form-control" ng-model="postalcode" id="txtPostalCode" name="txtPostalCode" placeholder="Zip / Postal Code"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="ddState">COUNTRY - ULKE *</label>
                        <select name="country" size="1" class="form-control" ng-model="country" id="ddCountry" name="ddCountry" required>
                            <option value="">-- Choose a Country --</option>
                            <option value="Australia">Australia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="United States of America" selected>United States of America</option>                            
                        </select>
                    </div>
                    <div>
                        <span style="font-size:10px">* Required fields</span>
                    </div>
                    <div style="font-size:12px">
                        <p style="text-align:right;">
                            RECIPIENT<br/> Governor Edmund G. Brown Jr.<br/> c/o State Capitol, Suite 1173<br/> Sacramento,
                            California 95814
                        </p>
                    </div>
                    <div style="text-align:right;">
                        <input class="btn btn-default" type="submit" style="border-radius:20px; font-weight: bold; padding:10px;" ng-disabled="messageForm.$invalid"
                            value="SEND MESSAGE" ng-click="onSubmit()" />
                    </div>
                </form>
            </div>
            <div class="col-md-8 messages">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom:10px;">SELECT YOUR MESSAGE</div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-12">
                            <div class="row">
                                <span style="color:red;">California Residents:</span>
                            </div>
                            <div class="row">
                                <input id="template1" name="templates" type="radio" ng-model="template" value="template1" />
                                <label for="template1">1. Do Not Reward ARF</label>
                            </div>
                            <div class="row">
                                <input id="template3" name="templates" type="radio" ng-model="template" value="template3" />
                                <label for="template3">2. Sassounian Vows Further Violence</label>
                            </div>
                            <div class="row">
                                <input id="template7" name="templates" type="radio" ng-model="template" value="template7" />
                                <label for="template7">3. Policy to Release Terrorists?</label>
                            </div>
                            <div class="row">
                                <input id="template2" name="templates" type="radio" ng-model="template" value="template2" />
                                <label for="template2">4. Terror, Not Youthful Indiscretion</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <div class="row">
                                <span style="color:red;">Non-California Residents:</span>
                            </div>
                            <div class="row">
                                <input id="template4" name="templates" type="radio" ng-model="template" value="template4" />
                                <label for="template4">5. Psychiatrist Warning</label>
                            </div>
                            <div class="row">
                                <input id="template5" name="templates" type="radio" ng-model="template" value="template5" />
                                <label for="template5">6. Sassounian = Sirhan Sirhan, Assassin of Kennedy</label>
                            </div>
                            <div class="row">
                                <input id="template6" name="templates" type="radio" ng-model="template" value="template6" />
                                <label for="template6">7. Irregularities at Parole Hearing</label>
                            </div>
                            <div class="row">
                                <input id="template8" name="templates" type="radio" ng-model="template" value="template8" disabled />
                                <label for="template8">8. Letters from Australia, Home of the Victim's Family <br/>and Friends</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>MESSAGE</h3>
                    </div>
                </div>
                <div class "row">
                    <div class="col-md-12">
                        <div id="divtemplate1">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Do Not Reward ARF Terrorism</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am deeply concerned regarding the December 14 misguided decision of Commissioners Montes and
                                Riordan to provide provisional parole to Hampig “Harry” Sassounian, who assassinated a foreign
                                diplomat on American soil.</p>
                            <p>Sassounian was a member of the "Justice Commandos” (JCAG), which according to the FBI has been
                                the most active Middle Eastern terrorist group ever on American soil. JCAG killed 4 Turkish
                                diplomats in America, and injured dozens of other Americans. JCAG killed over 45 Turkish
                                diplomats, 40 civilians, and injured over 700 people worldwide. The California Armenian community
                                supplied the majority of JCAG operatives, who were immigrants from the Middle East at a time
                                when vetting extremists was not a part of U.S. immigration policy. Sassounian was a proud
                                member of JCAG, bearing its insignia in a tattoo on his chest, and holding its flag in one
                                hand and automatic firearms in the other hand in photos in the crime file.</p>
                            <p>According to the FBI, Sassounian’s terror group, JCAG, was the militant wing of the Armenian
                                Revolutionary Federation (ARF) political party, which is represented in the U.S. by the Armenian
                                National Committee of America (ANCA), who is lobbying for the release of Sassounian. Indeed,
                                the former Chairman of ANCA, Mourad Topalian, himself, was convicted in federal court of
                                illegally possessing weapons, explosives and ammunition in a storage locker near a public
                                school in Cleveland, Ohio, which the FBI linked to several JCAG terrorist attacks nationwide,
                                including one at the United Nations Plaza.
                            </p>
                            <p>Unbelievably, Sassounian denies his connections to JCAG. He shows no remorse for his terrorist
                                activities. Worse, he has refused to oppose those who applaud him as a hero of the Armenian
                                Cause.
                            </p>
                            <p>As a resident of California, I am concerned for the safety of my family and community. The prison
                                psychiatrist's report warns there is no assurance how Sassounian will react in free society.</p>
                            <p>Please reverse the decision of the Parole Board, keep this assassin behind bars, and keep us
                                safe.
                            </p>
                        </div>
                        <div id="divtemplate2">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Terrorism is not Youthful Indiscretion</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am deeply disturbed by the December 14 misguided decision of Commissioners Montes and Riordan
                                to provide parole to Hampig “Harry” Sassounian (Prisoner C-88440), who assassinated the Turkish
                                Consul General in Los Angeles, Mr. Kemal Arikan.</p>
                            <p>I have read the transcript of the hearing. The Commissioners seem to have forgiven Sassounian
                                for his terrorism, citing youthful indiscretion. Sassounian was radicalized at a young age
                                even before entering the United States. Only a few years after arriving in California he
                                joined the Justice Commandos (JCAG), trained at Armenian Youth Federation (AYF) camps to
                                engage in armed revolutionary activities, and assassinated a Turkish diplomat for political
                                reasons. Youth&nbsp;cannot be&nbsp;a mitigating factor in an environment where people are
                                radicalized early on in their lives to engage in violent extremism and terror. Youth cannot
                                be a mitigating factor for an 18-year-old who knows exactly what he is doing: planning and
                                preparing to kill a foreign official for political reasons, and then coolly carrying out
                                the execution.</p>
                            <p>Sassounian admitted that the Arikan assassination was planned in advance and carried out with
                                precision. He stated that he was “at peace” after killing Mr. Arikan. The average age of
                                JCAG operatives was 21. This group of young, mentally competent, and physically able men
                                and women systematically committed more than 250 acts of terrorism, killing over 45 Turkish
                                diplomats and 40 civilians, injuring over 700 civilians, and causing hundreds of millions
                                of dollars of property damage worldwide. Three of the Turkish diplomats were assassinated
                                in California. How could the Commissioners believe that Sassounian was a poor an unwitting
                                JCAG operative blinded by youth; Sassounian knew exactly what he was doing – planning, training
                                and killing a foreign diplomat for political reasons.</p>
                            <p>As a resident of California who is the victim of violent extremism from a part of the Armenian
                                American community that considers Sassounian and JCAG as heroes, I am concerned for my safety,
                                the safety of my family and my community. The police have declined to provide protection
                                admitting to the unpredictability and ferocity of Armenian political extremism. The prison
                                psychiatrist reported that he cannot provide any assurance that Sasosunian will not resume
                                or incite political violence. Please reverse the decision of the Parole Board and keep us
                                safe.
                            </p>
                        </div>
                        <div id="divtemplate3">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Sassounian Vows Further Violence</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am alarmed by the December 14 decision of Commissioners Montes and Riordan to provide parole
                                to Hampig “Harry” Sassounian, who assassinated the Turkish Consul General in Los Angeles.</p>
                            <p>I read the transcript. It appears to me that the Commissioners did not fully understand Sassounian’s
                                threat to resume terrorism, this time against Azerbaiijani officials in the United States
                                and abroad.
                            </p>
                            <p>Sassounian, a member of the "Justice Commandos” (JCAG) terrorist organization, recently published
                                an article in a the Armenian militia magazine Hay Zinvor stating that as soon as he is released,
                                he will joini the armed struggle of the Armenian Cause. At his parole hearing, Sassounian
                                clarified for the Commissioners that his article did not target Turkish diplomats, but rather
                                Azerbaijan and specifically Azerbaijan President Ilham Aliyev. Sassounian expressed regret
                                for having written the article, but not for its contents. Sassounian characterized his motives
                                as “patriotic”. At least one Armenian commentator, K.S. Papazian, has described such extreme
                                motives as “patriotism perverted.”
                            </p>
                            <p>As a resident of California who has had to endure the taunts of Armenian violent extremism, I
                                am concerned for the safety of my family and my community. Los Angeles Police have informed
                                Turkish Americans that they cannot protect them from Armenian extremists, and that they should
                                abandon their freedom of assembly and speech for personal safety.&nbsp; Can you imagine what
                                this means?</p>
                            <p>Releasing Sassounian will not only make us unsafe, but send the wrong message regarding radicalism,
                                violent extremism, and international terrorism.</p>
                            <p>Please reverse the decision of the Commissioners and keep this terrorist behind bars until it
                                is 100% certain that he has abandoned his poisonous ideology and violent ways, until he speaks
                                and writes against the multitudes of Armenians who revere him as a hero.</p>
                        </div>
                        <div id="divtemplate4">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Prison Psychiatrist Warns: “No Assurance”</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am afraid for myself and family following the horrific December 14 decision of two Parole Commissioners
                                to grant provisional parole to Hampig “Harry” Sassounian, a member of the "Justice Commandos”
                                JCAG terrorist organization, who assassinated a Turkish diplomat in Los Angeles.</p>
                            <p>The prison psychiatrist expressly warned that there was “no assurance” how Sassounian will react
                                to political triggers in free society, particularly with respect to expressions and peaceful
                                political activity that challenge his radical views. Recently, Sassounian published an article
                                in an Armenian militia magazine, Hay Zinvor, stating that as soon as he is released, he will
                                be joining the armed struggle of the Armenian Cause. At his parole hearing, Sassounian expressed
                                regret for writing the article, but not for its stated intentions. Sassounian unbelievably
                                continues to deny his connections to the terrorist organization JCAG, which proudly claimed
                                credit for Sassounian’s assassination of Mr. Arikan, and shows no remorse for his terrorist
                                activities. Worse, Sassounian refuses to speak out against the Armenian community who applauds
                                him as a hero, and funds his legal defense, including five parole hearings to date.</p>
                            <p>Sassounian has repeatedly stated that he is a man of his word. In his militia magazine article,
                                Sassounian stated that serving a prison sentence is only a part of his journey of fighting
                                for Armenia, which he promises to continue again in violent form if and when he is released.</p>
                            <p>As a resident of California who is a victim of Armenian violent extremism, I am concerned for
                                my safety and the safety of my family and my community. The prison psychiatrist's carefully
                                worded warning is more than a caveat or a disclaimer. Sassounian admitted that as soon as
                                he is released he would resume armed struggle, this time targeting Azerbaijan diplomats.
                                What further evidence must the Commissioners hear before they understand that there is a
                                real threat?</p>
                            <p>Please reverse the decision of Commissioners, and keep us safe.</p>
                        </div>
                        <div id="divtemplate5">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Assassin Sassounian = Sirhan Sirhan, Assassin of Kennedy</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am outraged with the December 14 irresponsible decision of the Parole Commissioners to grant
                                provisional release to Hampig “Harry” Sassounian, who was a member of the "Justice Commandos”
                                (JCAG), which the FBI described as the most active Middle Eastern terrorist group on American
                                soil in the early 1980s. Sassounian murdered Turkish Consul General Kemal Arikan and destroyed
                                his family. At his parole hearing, he stated that he was “ecstatic”, “joyful” and “at peace”
                                after assassinating Mr. Arikan.</p>
                            <p>As you may know, there are only two political assassins behind bars in California; Sassounian,
                                and Sirhan Sirhan, the murderer of Senator Robert F. Kennedy. While Sirhan was a lone actor,
                                Sassounian was a member of the JCAG, a Lebanon-based international terrorist organization
                                that committed over 250 acts of terror, killing over 45 Turkish diplomats, including four
                                in the United States and three in California, and 40 civilians, and injuring over 700 worldwide.
                                The Armenian American leadership, particularly the Armenian Revolutionary Federation (ARF),
                                and its U.S. representative, the Armenian National Committee of America (ANCA), has refused
                                to condemn Armenian terrorism and has characterized Sassounian a political prisoner. Sassounian
                                has done nothing to oppose them, as he continues to embody the spirit of Armenian violent
                                extremism in modern times.</p>
                            <p>Sassounian is a proud member of JCAG, bearing its insignia on his chest, and can be seen holding
                                its flag in one hand and automatic firearms in the other hand in widely published ARF photos.
                                Recently, Sassounian published an article in an Armenian militia magazine, Hay Zinvor, stating
                                that as soon as he is released, he will join the armed struggle of the Armenian Cause. At
                                his parole hearing, Sassounian expressed regret for writing the article, but not for its
                                contents. Sirhan Sirhan’s intentions were also to resume violent extremism, but thankfully
                                he is in prison for life.&nbsp; So should Sassounian be kept in prison.</p>
                            <p>Please reverse the decision of Commissioners Montes and Riordan, and keep us safe.</p>
                        </div>
                        <div id="divtemplate6">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Irregularities at Parole Hearing of Terrorist</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am deeply disturbed regarding the December 14 decision of the Parole Board to grant provisional
                                release to first-degree murderer Hampig “Harry” Sassounian, who assassinated Turkish Consul
                                General Kemal Arikan and destroyed his family. Sassounian was a member of the "Justice Commandos”
                                (JCAG), which the FBI described as the most active Middle Eastern terrorist group on American
                                soil.
                            </p>
                            <p>I have read the transcript and other publicly available documents and draw your attention to
                                the following irregularities and discrepancies that violate the law, victim’s rights, and
                                public safety:
                            </p>
                            <p>1. The California Parole Board did not notify or inform the victim’s family regarding the parole
                                hearing of December 14, 2016;</p>
                            <p>2. The California Parole Board did not notify or inform the FBI regarding the parole hearing;</p>
                            <p>3. The California Parole Board did not notify or inform the Turkish Consulate in Los Angeles
                                or the Turkish Embassy in Washington DC.</p>
                            <p>4. The California Parole Board did not permit the Turkish Republic victim status in the parole
                                hearing, despite Sassounian’s admission that he assassinated Mr. Arikan because he was a
                                Turkish government official. The victim here is Mr. Arikan as the embodiment of foreign diplomacy
                                in the U.S.</p>
                            <p>5. The California Parole Board ignored the United States Department of Justice and Department
                                of Secretary joint letter demanding that under federal rules of international comity, the
                                Turkish Republic be permitted victim status at the parole hearing of December 14, 2016, as
                                the United States federal government would expect the same if a federal employee was assassinated
                                in the U.S. or abroad.</p>
                            <p>The California Parole Boards appears to have jerrybuilt a process that censored information and
                                analysis critical to determining whether a terrorist and political assassin should be released.
                                Please reverse the decision of Commissioners Montes and Riordan, and keep us safe.</p>
                        </div>
                        <div id="divtemplate7">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Does California have a policy to release terrorists?</h4>
                            <p>Dear Governor Brown:</p>
                            <p>As I understand, on December 14, 2016, two commissioners of the Parole Board granted provisional
                                release to first-degree murderer Hampig “Harry” Sassounian, who assassinated Turkish Consul
                                General Kemal Arikan and destroyed his family. &nbsp;Sassounian was a member of the "Justice
                                Commandos” (JCAG), which the FBI described as the most active Middle Eastern terrorist group
                                on American.</p>
                            <p>I have read the transcript and other publicly available documents and notice that the Parole
                                Board decision appears to reflect a soft-spoken policy to release older murderers to make
                                room for younger murderers in California's overcrowded prisons.</p>
                            <p>But no matter how crowded California’s prisons are, this policy cannot be applied to terrorists
                                and assassins who murder people purely for political and ideological reasons. Sassounian
                                assassinated a Turkish official because he did not agree with his point of view on World
                                War I history. Sassounian intended to cause terror and disrupt the proper functioning of
                                foreign relations between the United States and Turkey. He achieved that by silencing many
                                experts, scholars, universities, think tanks, legislators, statesmen, and especially ordinary
                                Californians.
                            </p>
                            <p>Please reverse the decision of Commissioners Montes and Riordan, and keep us safe.</p>
                        </div>
                        <div id="divtemplate8">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Letters from Australia, Home of the Victim's Family and Friends</h4>
                            <div style="display:flex; justify-content:flex-start; align-content: flex-start;">
                                <table width:600px;>
                                    <tr>                                        
                                        <td style="padding-right:15px;"><img src="http://www.mksoftwaresolutions.net/creativeedge/icon.png" alt=""></td>
                                    
                                    <td style="vertical-align:top; padding-right: 15px;">cc:</td>
                                        <td style="vertical-align:top">
                                            <p>Honorable Michael Keenan, Australian Minister for Counter-Terrorism<br /> Honorable Julie
                                                Bishop, Australian Minister of Foreign Affairs<br /> Honorable Peter Dutton,
                                                Minister of Immigration and Border Protection</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <p>Dear Governor Brown:</p>
                            <p>I write to you from Australia to ask that you please deny the release of &ldquo;Armenian Justice
                                Commandos&rdquo; terrorist, Hampig Sassounian, who the people of California sentenced to
                                life in prison for assassinating Turkish Consul General to Los Angeles Kemal Arikan in 1982.</p>
                            <p>The assassination of Mr. Arikan had a deep impact in Australia, here on the other side of the
                                Pacific Ocean, not only because of his friendship, goodness and competent public service
                                as Turkish Deputy Consul General in Sydney (1973&ndash;1976), but also because his widow,
                                children, and grand children he never met, reside here in Sydney.</p>
                            <p>Furthermore, Mr. Arikan&rsquo;s successor, Mr. Sarik Ariyak, was brutally assassinated in front
                                of his Sydney home right before the very eyes of his wife and daughter in 1980 by the same
                                terrorist group for which Sassounian killed all the way across the Pacific Ocean in California
                                where you serve as Governor.</p>
                            <p style="color:red;">Indeed, terrorism has made the world much smaller, and today renders your actions (or inactions)
                                consequential globally.</p>
                            <p>The Arikan widow and children have lived under security and psychiatric care for 35 years since
                                the assassination, requiring that they not ever remember that tragic day when Mr. Arikan
                                was shot 14 times in the body and head by Hampig Sassounian.</p>
                            <p>In the transcript of the parole hearing at San Quentin Prison, December 14, 2016, Sassounian
                                expresses that he and his crime partner were ecstatic after completing the assassination
                                as they drove off down Wilshire Boulevard. Today, not much has changed, as the assassin&rsquo;s
                                most recent psychiatric report explicitly states that there are no assurances that Sassounian
                                will not revert to violence when exposed to political triggers in free society. Indeed, recently,
                                Sassounian vowed in the Armenian militant magazine, <em>Hay Zinvor</em>, to take up arms
                                again if and when he is released.</p>
                            <p>Sassounian has done nothing to express remorse for his terrorist acts. At his parole hearing
                                he lied that he sent a letter of regret to the widow of Mr. Arikan. Worse, he has done nothing
                                to ask extremists in the Armenian community to stand down, as he earns tens of thousands
                                of dollars for his defense fund from the same community who glorifies him as an Armenian
                                Hero. Armenian he may be, but a hero he is not. Sassounian is the perfect terrorist.
                            </p>
                            <p>According to the FBI a third &ldquo;Armenian Commandos&rdquo; operative was involved in the Arikan
                                assassination. Interestingly, in 2014, the Armenian Youth Federation of Australia hosted
                                from California a convicted "Armenian Commandoes&rdquo; terrorist, Vicken Hovespian, who
                                had attempted to board an airplane at LAX with explosives to carryout a terrorist attack
                                in Boston. Hovsepian&rsquo;s visit to Australia sent a threat to our community that we should
                                not oppose the parole of Sassounian, that the &ldquo;Armenian Commandoes&rdquo; are everywhere.
                                The California Parole Board&rsquo;s irresponsible granting of parole has forced us to write
                                to you and take the risk of reprisals for standing up for justice ,not only for the Arikan
                                family, but for all victims of terrorism.</p>
                            <p>Disturbingly, Armenian terrorism and Sassounian&rsquo;s case speaks to the heart of the Armenian
                                Youth Federation of Australia, which every year honors the &ldquo;Lisbon Five&rdquo;, who
                                were five operatives of the &ldquo;Justice Commandos&rdquo; who shot and killed a Portuguese
                                law enforcement officer and a Turkish security office as they took the Turkish Ambassador&rsquo;s
                                family hostage. The Ambassador&rsquo;s wife killed them by exploding one of their bombs and
                                sacrificing her life for her family. She is a true hero in any reasonable person&rsquo;s
                                mind. Remarkably, the Armenian Youth Federation, the Lisbon Five are heroes &ndash; this
                                is the dangerous political context in which you, Sir, are considering whether to do nothing
                                and permit the release of Sassounian, or take action and deny the parole of Hampig Sassounian.</p>
                            <p>Terrorism is blind hatred. Please do not close your eyes to the equality of all victims of hatred
                                and terrorism.</p>
                            <p>We hope the consequences of your actions will support justice for victims of terrorism and send
                                a stern message to terrorists and potential terrorists, that the pretext of youthful indiscretion
                                during the commission of terrorism or good behavior while serving time in prison for committing
                                terrorist acts, will not excuse them, and will not be tolerated.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="padding-left:15px;">
                            Respectfully, <br/> {{ firstname.length >0 && lastname.length > 0 ? title + ' ' + firstname +
                            ' ' + lastname : "[Your Name]" }}<br/> {{ addressline1.length >0 ? addressline1 + '' + (addressline2.length>0
                            ? ', ' + addressline2 : '') : "[Your Address]" }} {{ city.length > 0 ? city : "[City]" }}{{ state.length
                            > 0 ? ', ' + state : "" }}{{ postalcode.length > 0 ? ' ' + postalcode : "[Zip]" }}<br/> {{ country.length
                            > 0 ? ' ' + country : "[country]" }} <br/>{{ emailaddress.length > 0 ? emailaddress : "[EmailAddress]"
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sending Email</h4>
                </div>
                <div class="modal-body">
                    <p id="modalDynamicBody">Please wait, your message is on its way.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {

            var templates = ['divtemplate1', 'divtemplate2', 'divtemplate3', 'divtemplate4', 'divtemplate5', 'divtemplate6', 'divtemplate7', 'divtemplate8'];
            var hideoptions = { "direction": "left", "mode": "hide" };
            var showoptions = { "direction": "right", "mode": "show" };

            $.each(templates, function (index, value) {
                if (index > 0)
                    $('#' + value).hide();
            });

            $('#ddCountry').on('change', function () {
                if ($('#ddCountry').val() == 'Australia') {
                    $('#template8').prop('disabled', false);
                }
                else {
                    if ($('input[name=templates]:checked').val() == 'template8') {
                        $('#template1').prop('checked', true);
                        $('input[name=templates]:checked').change();
                        var scope = angular.element($("input[name=templates]")).scope();
                        scope.$apply(function () {
                            scope.template = 'template1';
                        });
                    }
                    $('#template8').prop('disabled', true);

                }
            });

            $('#template1').prop('checked', true);

            $('input[type=radio][name=templates]').on('change', function () {
                var templateid = $(this).attr('id');
                var divtemplateid = 'div' + templateid;

                $.each(templates, function (index, value) {
                    if (value != divtemplateid) {
                        $('#' + value).hide();
                    }
                })
                $('#' + divtemplateid).effect('slide', showoptions, 1000);
            })
        });
    </script>
    <script>
        var app = angular.module('messageApp', []);
        var accessToken = 'lQR2Cf7PrkLnV0CTdcet03vL67ZfwN32A7twlEXMu3fLbZ5zzSWK_pTT6_FrrlLUi-Uwt7XxrE4_JScc8bWNUNQ17OqHOfHp-an8AydpXw6iBIamDS-HFheo3OzTYHWwAThW5sxBJzi2jXxwgLmAKQA0cuGowJnZ7YuAUPQD7QFDdT1Q8pRI8AQsQpcm6rZ82M0496Gr6q_G3no_u3ot_wz5W0A3q_Qc81nO6eYByS_Ko0yAi2aPDc2dVLZHbnEy23CGl_YL_AQn6ZRTiznD6wctTZPCBf_Y4VWbyhx9gdBfT4dRiDHSn84N3AehnDZH4pw5QkmuNE0HWRVdvB_t7SeP7SZkUJ4d0Tk-RWHRGd_x3mu3H7zTqIEe7KHvAwJ-gNbyQ0epjMZCPLCQjRx-bOV5GEeWk317QKRObI6RN1p6cm2f-HnVkS9OgO-ys6o7Zr9p28KSmNWd4V-N1e180GdkadmiWEy0NDowHF_nPBv7dSBn4buWjgry_hNxNpob';
        app.controller('messageController', ['$scope', '$http', function ($scope, $http) {
            $scope.title = "Mr.";
            $scope.emailPattern = /^([a-zA-Z0-9])+([a-zA-Z0-9._%+-])+@([a-zA-Z0-9_.-])+\.(([a-zA-Z]){2,6})$/;
            $scope.template = "template1";
            $scope.country = "United States of America";
            $scope.onSubmit = function () {
                // TODO: build email body here and send to mksoftwaresolutions.net
                $('#myModal').modal('show');
                mailItem = {};
                mailItem.To = ['Peter.Krause@gov.ca.gov', 'victimservices@cdcr.ca.gov'];                
                if ($scope.template == 'template8') {                                        
                    mailItem.Cc = ['Julie.Bishop.MP@aph.gov.au', 'Michael.Keenan.MP@aph.gov.au','Peter.Dutton.MP@aph.gov.au'];
                }
                else {
                    mailItem.Cc = [];
                }
                mailItem.Bcc = ['info@stopterroristparole.org'];
                mailItem.From = $scope.emailaddress;
                mailItem.Subject = 'STOP SASSOUNIAN PAROLE';
                mailItem.Body = $('#div' + $scope.template).html();
                mailItem.Body += '<p>Respectfully, <br/> ' +
                    $scope.title + ' ' + $scope.firstname + ' ' + $scope.lastname + '<br/>' +
                    $scope.addressline1 + '' + ($scope.addressline2 && $scope.addressline2.length > 0 ? ', ' + $scope.addressline2 : '') + ' ' +
                    $scope.city + ', ' +
                    ($scope.state && $scope.state.length > 0 ? $scope.state + ' ' : '') +
                    $scope.postalcode + '<br/>' +
                    $scope.country + '<br/>' +
                    '<a href="mailto:' + $scope.emailaddress + '">' + $scope.emailaddress + '</a></p>';

                $http.post('http://mkss.azurewebsites.net/Services/api/email/send', mailItem, {
                    headers: {
                        'Authorization': 'Bearer ' + accessToken,
                        'Content-Type': 'application/json'
                    }
                }).then(
                    //success
                    function (data) {
                        if (data.status == 200) {
                            $('#myModal').modal('hide');
                            // $('#result').html(mailItem.Body);
                            window.location.href = "thanks.html?name=" + $scope.firstname + ' ' +
                                $scope.lastname + '&email=' + $scope.emailaddress;
                        }
                    },
                    // error
                    function (data) {
                        $('#modalDynamicBody').html('<div style="color:red;">Error:' + data.status + ' - ' + data.statusText + '</div');
                    });
            }
        }]);
    </script>
</body>

</html>