<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Letter</title>
    <style>
        input.ng-dirty.ng-invalid {
            border: 1px solid red;
        }
        
        form label {
            font-size: 12px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: -2px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>

<body ng-app="messageApp">
    <div style="margin-top:10px; min-height: 10px;">&nbsp;</div>
    <div class="container" ng-controller="messageController">
        <div class="row well">
            <div class="col-md-4">
                <form name="messageForm" novalidate>
                    <div class="form-group">
                        <label for="txtTitle">YOUR TITLE *</label>
                        <select id="ddTitle" name="ddTitle" ng-model="title" class="form-control" required>
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">YOUR FIRST NAME *</label>
                        <input type="text" class="form-control" ng-model="firstname" id="txtFirstName" name="txtFirstName" placeholder="First Name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">YOUR LAST NAME *</label>
                        <input type="text" class="form-control" ng-model="lastname" id="txtLastName" name="txtLastName" placeholder="Last Name" required
                        />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">YOUR EMAIL *</label>
                        <input type="email" class="form-control" ng-model="emailaddress" id="txtEmail" name="txtEmail" placeholder="Email Address"
                            ng-pattern="emailPattern" required />
                    </div>
                    <div class="form-group">
                        <label for="txtAddressLine1">ADDRESS 1 *</label>
                        <input type="text" class="form-control" ng-model="addressline1" id="txtAddressLine1" name="txtAddressLine1" placeholder="Address"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="txtAddressLine2">ADDRESS 2</label>
                        <input type="text" class="form-control" ng-model="addressline2" id="txtAddressLine2" name="txtAddressLine2" placeholder="Address (Cont'd)"
                        />
                    </div>
                    <div class="form-group">
                        <label for="txtCity">CITY * </label>
                        <input type="text" class="form-control" ng-model="city" id="txtCity" name="txtCity" placeholder="City" required />
                    </div>
                    <div class="form-group">
                        <label for="ddState">STATE / PROVINCE *</label>
                        <select name="state" size="1" class="form-control" ng-model="state" id="ddState" name="ddState" required>
                            <option value="">-- Choose a State --</option>
                            <option value="AK">AK</option>
                            <option value="AL">AL</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DC">DC</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VA">VA</option>
                            <option value="VT">VT</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtPostalCode">ZIP / POSTAL CODE *</label>
                        <input type="text" class="form-control" ng-model="postalcode" id="txtPostalCode" name="txtPostalCode" placeholder="Zip / Postal Code"
                            ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" required />
                    </div>
                    <div>
                        <span style="font-size:10px">* Required fields</span>
                    </div>
                    <div style="font-size:12px">
                        <p style="text-align:right;">
                            RECIPIENT<br/> Governor Edmund G. Brown Jr.
                        </p>
                    </div>
                    <div style="text-align:right;">
                        <input class="btn btn-default" type="submit" style="border-radius:20px; font-weight: bold; padding:10px;" ng-disabled="messageForm.$invalid"
                            value="SEND MESSAGE" ng-click="onSubmit()" />
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom:10px;">SELECT YOUR MESSAGE</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input id="template1" name="templates" type="radio" ng-model="template" value="template1" />
                        <label for="template1">Do Not Reward ARF</label></div>
                    <div class="col-md-4">
                        <input id="template2" name="templates" type="radio" ng-model="template" value="template2" />
                        <label for="template2">Terror not Youthful</label>
                    </div>
                    <div class="col-md-4">
                        <input id="template3" name="templates" type="radio" ng-model="template" value="template3" />
                        <label for="template3">Threatens Azerbaijan</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input id="template4" name="templates" type="radio" ng-model="template" value="template4" />
                        <label for="template4">Psychiatrist Warning</label></div>
                    <div class="col-md-4">
                        <input id="template5" name="templates" type="radio" ng-model="template" value="template5" />
                        <label for="template5">Sassounian Sirhan</label>
                    </div>
                    <div class="col-md-4">
                        <input id="template6" name="templates" type="radio" ng-model="template" value="template6" />
                        <label for="template6">Irregularities</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="template7" name="templates" type="radio" ng-model="template" value="template7" />
                        <label for="template7">Policy to Release Terrorists</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>MESSAGE</h3>
                    </div>
                </div>
                <div class "row">
                    <div class="col-md-12">
                        <div id="divtemplate1">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Prison Psychiatrist Warns: “No Assurance”</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am afraid for myself and family following the horrific December 14 decision of two Parole Commissioners
                                to grant provisional parole to Hampig “Harry” Sassounian, a member of the "Justice Commandos”
                                JCAG terrorist organization, who assassinated a Turkish diplomat in Los Angeles.</p>
                            <p>The prison psychiatrist expressly warned that there was “no assurance” how Sassounian will react
                                to political triggers in free society, particularly with respect to expressions and peaceful
                                political activity that challenge his radical views. Recently, Sassounian published an article
                                in an Armenian militia magazine, Hay Zinvor, stating that as soon as he is released, he will
                                be joining the armed struggle of the Armenian Cause. At his parole hearing, Sassounian expressed
                                regret for writing the article, but not for its stated intentions. Sassounian unbelievably
                                continues to deny his connections to the terrorist organization JCAG, which proudly claimed
                                credit for Sassounian’s assassination of Mr. Arikan, and shows no remorse for his terrorist
                                activities. Worse, Sassounian refuses to speak out against the Armenian community who applauds
                                him as a hero, and funds his legal defense, including five parole hearings to date.</p>
                            <p>Sassounian has repeatedly stated that he is a man of his word. In his militia magazine article,
                                Sassounian stated that serving a prison sentence is only a part of his journey of fighting
                                for Armenia, which he promises to continue again in violent form if and when he is released.</p>
                            <p>As a resident of California who is a victim of Armenian violent extremism, I am concerned for
                                my safety and the safety of my family and my community. The prison psychiatrist's carefully
                                worded warning is more than a caveat or a disclaimer. Sassounian admitted that as soon as
                                he is released he would resume armed struggle, this time targeting Azerbaijan diplomats.
                                What further evidence must the Commissioners hear before they understand that there is a
                                real threat?</p>
                            <p>Please reverse the decision of Commissioners, and keep us safe.</p>
                        </div>
                        <div id="divtemplate2">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Terrorism is not Youthful Indiscretion</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am deeply disturbed by the December 14 misguided decision of Commissioners Montes and Riordan
                                to provide parole to Hampig “Harry” Sassounian (Prisoner C-88440), who assassinated the Turkish
                                Consul General in Los Angeles, Mr. Kemal Arikan.</p>
                            <p>I have read the transcript of the hearing. The Commissioners seem to have forgiven Sassounian
                                for his terrorism, citing youthful indiscretion. Sassounian was radicalized at a young age
                                even before entering the United States. Only a few years after arriving in California he
                                joined the Justice Commandos (JCAG), trained at Armenian Youth Federation (AYF) camps to
                                engage in armed revolutionary activities, and assassinated a Turkish diplomat for political
                                reasons. Youth&nbsp;cannot be&nbsp;a mitigating factor in an environment where people are
                                radicalized early on in their lives to engage in violent extremism and terror. Youth cannot
                                be a mitigating factor for an 18-year-old who knows exactly what he is doing: planning and
                                preparing to kill a foreign official for political reasons, and then coolly carrying out
                                the execution.</p>
                            <p>Sassounian admitted that the Arikan assassination was planned in advance and carried out with
                                precision. He stated that he was “at peace” after killing Mr. Arikan. The average age of
                                JCAG operatives was 21. This group of young, mentally competent, and physically able men
                                and women systematically committed more than 250 acts of terrorism, killing over 45 Turkish
                                diplomats and 40 civilians, injuring over 700 civilians, and causing hundreds of millions
                                of dollars of property damage worldwide. Three of the Turkish diplomats were assassinated
                                in California. How could the Commissioners believe that Sassounian was a poor an unwitting
                                JCAG operative blinded by youth; Sassounian knew exactly what he was doing – planning, training
                                and killing a foreign diplomat for political reasons.</p>
                            <p>As a resident of California who is the victim of violent extremism from a part of the Armenian
                                American community that considers Sassounian and JCAG as heroes, I am concerned for my safety,
                                the safety of my family and my community. The police have declined to provide protection
                                admitting to the unpredictability and ferocity of Armenian political extremism. The prison
                                psychiatrist reported that he cannot provide any assurance that Sasosunian will not resume
                                or incite political violence. Please reverse the decision of the Parole Board and keep us
                                safe.
                            </p>
                        </div>
                        <div id="divtemplate3">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Inmate Vows Further Violence</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am alarmed by the December 14 decision of Commissioners Montes and Riordan to provide parole
                                to Hampig “Harry” Sassounian, who assassinated the Turkish Consul General in Los Angeles.</p>
                            <p>I read the transcript. It appears to me that the Commissioners did not fully understand Sassounian’s
                                threat to resume terrorism, this time against Azerbaiijani officials in the United States
                                and abroad.</p>
                            <p>Sassounian, a member of the "Justice Commandos” (JCAG) terrorist organization, recently published
                                an article in a the Armenian militia magazine Hay Zinvor stating that as soon as he is released,
                                he will joini the armed struggle of the Armenian Cause. At his parole hearing, Sassounian
                                clarified for the Commissioners that his article did not target Turkish diplomats, but rather
                                Azerbaijan and specifically Azerbaijan President Ilham Aliyev. Sassounian expressed regret
                                for having written the article, but not for its contents. Sassounian characterized his motives
                                as “patriotic”. At least one Armenian commentator, K.S. Papazian, has described such extreme
                                motives as “patriotism perverted.”</p>
                            <p>As a resident of California who has had to endure the taunts of Armenian violent extremism, I
                                am concerned for the safety of my family and my community. Los Angeles Police have informed
                                Turkish Americans that they cannot protect them from Armenian extremists, and that they should
                                abandon their freedom of assembly and speech for personal safety.&nbsp; Can you imagine what
                                this means?</p>
                            <p>Releasing Sassounian will not only make us unsafe, but send the wrong message regarding radicalism,
                                violent extremism, and international terrorism.</p>
                            <p>Please reverse the decision of the Commissioners and keep this terrorist behind bars until it
                                is 100% certain that he has abandoned his poisonous ideology and violent ways, until he speaks
                                and writes against the multitudes of Armenians who revere him as a hero.</p>
                        </div>
                        <div id="divtemplate4">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Prison Psychiatrist Warns: “No Assurance”</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am afraid for myself and family following the horrific December 14 decision of two Parole Commissioners
                                to grant provisional parole to Hampig “Harry” Sassounian, a member of the "Justice Commandos”
                                JCAG terrorist organization, who assassinated a Turkish diplomat in Los Angeles.</p>
                            <p>The prison psychiatrist expressly warned that there was “no assurance” how Sassounian will react
                                to political triggers in free society, particularly with respect to expressions and peaceful
                                political activity that challenge his radical views. Recently, Sassounian published an article
                                in an Armenian militia magazine, Hay Zinvor, stating that as soon as he is released, he will
                                be joining the armed struggle of the Armenian Cause. At his parole hearing, Sassounian expressed
                                regret for writing the article, but not for its stated intentions. Sassounian unbelievably
                                continues to deny his connections to the terrorist organization JCAG, which proudly claimed
                                credit for Sassounian’s assassination of Mr. Arikan, and shows no remorse for his terrorist
                                activities. Worse, Sassounian refuses to speak out against the Armenian community who applauds
                                him as a hero, and funds his legal defense, including five parole hearings to date.</p>
                            <p>Sassounian has repeatedly stated that he is a man of his word. In his militia magazine article,
                                Sassounian stated that serving a prison sentence is only a part of his journey of fighting
                                for Armenia, which he promises to continue again in violent form if and when he is released.</p>
                            <p>As a resident of California who is a victim of Armenian violent extremism, I am concerned for
                                my safety and the safety of my family and my community. The prison psychiatrist's carefully
                                worded warning is more than a caveat or a disclaimer. Sassounian admitted that as soon as
                                he is released he would resume armed struggle, this time targeting Azerbaijan diplomats.
                                What further evidence must the Commissioners hear before they understand that there is a
                                real threat?</p>
                            <p>Please reverse the decision of Commissioners, and keep us safe.</p>
                        </div>
                        <div id="divtemplate5">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Assassin Sassounian = Sirhan Sirhan, Assassin of Kenney</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am outraged with the December 14 irresponsible decision of the Parole Commissioners to grant
                                provisional release to Hampig “Harry” Sassounian, who was a member of the "Justice Commandos”
                                (JCAG), which the FBI described as the most active Middle Eastern terrorist group on American
                                soil in the early 1980s. Sassounian murdered Turkish Consul General Kemal Arikan and destroyed
                                his family. At his parole hearing, he stated that he was “ecstatic”, “joyful” and “at peace”
                                after assassinating Mr. Arikan.</p>
                            <p>As you may know, there are only two political assassins behind bars in California; Sassounian,
                                and Sirhan Sirhan, the murderer of Senator Robert F. Kennedy. While Sirhan was a lone actor,
                                Sassounian was a member of the JCAG, a Lebanon-based international terrorist organization
                                that committed over 250 acts of terror, killing over 45 Turkish diplomats, including four
                                in the United States and three in California, and 40 civilians, and injuring over 700 worldwide.
                                The Armenian American leadership, particularly the Armenian Revolutionary Federation (ARF),
                                and its U.S. representative, the Armenian National Committee of America (ANCA), has refused
                                to condemn Armenian terrorism and has characterized Sassounian a political prisoner. Sassounian
                                has done nothing to oppose them, as he continues to embody the spirit of Armenian violent
                                extremism in modern times.</p>
                            <p>Sassounian is a proud member of JCAG, bearing its insignia on his chest, and can be seen holding
                                its flag in one hand and automatic firearms in the other hand in widely published ARF photos.
                                Recently, Sassounian published an article in an Armenian militia magazine, Hay Zinvor, stating
                                that as soon as he is released, he will join the armed struggle of the Armenian Cause. At
                                his parole hearing, Sassounian expressed regret for writing the article, but not for its
                                contents. Sirhan Sirhan’s intentions were also to resume violent extremism, but thankfully
                                he is in prison for life.&nbsp; So should Sassounian be kept in prison.</p>
                            <p>Please reverse the decision of Commissioners Montes and Riordan, and keep us safe.</p>
                        </div>
                        <div id="divtemplate6">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Irregularities in Parole Hearing of Terrorist</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am deeply disturbed regarding the December 14 decision of the Parole Board to grant provisional
                                release to first-degree murderer Hampig “Harry” Sassounian, who assassinated Turkish Consul
                                General Kemal Arikan and destroyed his family. Sassounian was a member of the "Justice Commandos”
                                (JCAG), which the FBI described as the most active Middle Eastern terrorist group on American
                                soil.
                            </p>
                            <p>I have read the transcript and other publicly available documents and draw your attention to
                                the following irregularities and discrepancies that violate the law, victim’s rights, and
                                public safety:</p>
                            <p>1. The California Parole Board did not notify or inform the victim’s family regarding the parole
                                hearing of December 14, 2016;</p>
                            <p>2. The California Parole Board did not notify or inform the FBI regarding the parole hearing;</p>
                            <p>3. The California Parole Board did not notify or inform the Turkish Consulate in Los Angeles
                                or the Turkish Embassy in Washington DC.</p>
                            <p>4. The California Parole Board did not permit the Turkish Republic victim status in the parole
                                hearing, despite Sassounian’s admission that he assassinated Mr. Arikan because he was a
                                Turkish government official. The victim here is Mr. Arikan as the embodiment of foreign diplomacy
                                in the U.S.</p>
                            <p>5. The California Parole Board ignored the United States Department of Justice and Department
                                of Secretary joint letter demanding that under federal rules of international comity, the
                                Turkish Republic be permitted victim status at the parole hearing of December 14, 2016, as
                                the United States federal government would expect the same if a federal employee was assassinated
                                in the U.S. or abroad.</p>
                            <p>The California Parole Boards appears to have jerrybuilt a process that censored information and
                                analysis critical to determining whether a terrorist and political assassin should be released.
                                Please reverse the decision of Commissioners Montes and Riordan, and keep us safe.</p>
                        </div>
                        <div id="divtemplate7">
                            <p style="color:maroon; font-weight:bold;">Re: STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Does California have a policy to release terrorists?</h4>
                            <p>Dear Governor Brown:</p>
                            <p>As I understand, on December 14, 2016, two commissioners of the Parole Board granted provisional
                                release to first-degree murderer Hampig “Harry” Sassounian, who assassinated Turkish Consul
                                General Kemal Arikan and destroyed his family. &nbsp;Sassounian was a member of the "Justice
                                Commandos” (JCAG), which the FBI described as the most active Middle Eastern terrorist group
                                on American.</p>
                            <p>I have read the transcript and other publicly available documents and notice that the Parole
                                Board decision appears to reflect a soft-spoken policy to release older murderers to make
                                room for younger murderers in California's overcrowded prisons.</p>
                            <p>But no matter how crowded California’s prisons are, this policy cannot be applied to terrorists
                                and assassins who murder people purely for political and ideological reasons. Sassounian
                                assassinated a Turkish official because he did not agree with his point of view on World
                                War I history. Sassounian intended to cause terror and disrupt the proper functioning of
                                foreign relations between the United States and Turkey. He achieved that by silencing many
                                experts, scholars, universities, think tanks, legislators, statesmen, and especially ordinary
                                Californians.
                            </p>
                            <p>Please reverse the decision of Commissioners Montes and Riordan, and keep us safe.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="padding-left:15px;">
                            Respectfully, <br/> {{ firstname.length >0 && lastname.length > 0 ? title + ' ' + firstname +
                            ' ' + lastname : "[Your Name]" }}<br/> {{ addressline1.length >0 ? addressline1 + '' + (addressline2.length>0
                            ? ', ' + addressline2 : '') : "[Your Address]" }} {{ city.length > 0 ? city : "[City]" }}{{ state.length
                            > 0 ? ', ' + state : "[State]" }}{{ postalcode.length > 0 ? ' ' + postalcode : "[Zip]" }} <br/>                            {{ emailaddress.length > 0 ? emailaddress : "[EmailAddress]" }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sending Email</h4>
                </div>
                <div class="modal-body">
                    <p id="modalDynamicBody">Please wait, your message is on its way.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {

            var templates = ['divtemplate1', 'divtemplate2', 'divtemplate3', 'divtemplate4', 'divtemplate5', 'divtemplate6', 'divtemplate7'];
            var hideoptions = { "direction": "left", "mode": "hide" };
            var showoptions = { "direction": "right", "mode": "show" };

            $.each(templates, function (index, value) {
                if (index > 0)
                    $('#' + value).hide();
            });

            $('#template1').prop('checked', true);

            $('input[type=radio][name=templates]').on('change', function () {
                var templateid = $(this).attr('id');
                var divtemplateid = 'div' + templateid;

                $.each(templates, function (index, value) {
                    if (value != divtemplateid) {
                        $('#' + value).hide();
                    }
                })
                $('#' + divtemplateid).effect('slide', showoptions, 1000);
            })
        });
    </script>
    <script>
        var app = angular.module('messageApp', []);
        var accessToken = '4QFrvGUqvoUd800G-R0ucyFy9NFGp-uSjw7i71VF2TpsgS3saiOVgzwDvh1OAOAj2F_cDv3-mzpG8EoTk5f3TlSofW8SR_bynBI_pZh1Z9P_JWSKZ0RhxvvHpIC-woqUjZRWQZHk-1QyjELlbaWwTR6VxBqgKCOKNVJDqP6ZXwz-q8I-v8quMxOES8AnYcAxSmiL-AkOt5P16CDoCpuy4H7GAWJyoCB_-ydY_M9EPpaNeQKC4j79FWfl3_jDPG9Nc_1sSb-Sd1zwYRTWXFIjIAVCcz9s90iMKT5KnmXkqnFA5G280NnCrGh8a-YmpRpEyCPR8bY2UiNM257emKgthWIkbJYm-DoZ3Jv6Czupan60-SvnmkFoPQh-xsAlkTDvN-lofeMJtHOscDHrUHPIjdyZD05cEBrqrLXsOhBCgePiQzNSCJWHF_353nL7r8ko5lbEs9b045AGl1POlH9zbYLPNJ3pKrG_pma0ztgBsjuXp5u9G44dEbNOeUbjQ0kjB0n2wxy3Lt_VHVFGHn6LFA';
        app.controller('messageController', ['$scope', '$http', function ($scope, $http) {
            $scope.title = "Mr.";
            $scope.emailPattern = /^([a-zA-Z0-9])+([a-zA-Z0-9._%+-])+@([a-zA-Z0-9_.-])+\.(([a-zA-Z]){2,6})$/;
            $scope.template = "template1";
            $scope.onSubmit = function () {
                // TODO: build email body here and send to mksoftwaresolutions.net
                $('#myModal').modal('show');
                mailItem = {};
                mailItem.To = ['mkazanova.us@gmail.com','sk@studiocreativeedge.com'];
                mailItem.From = $scope.emailaddress;
                mailItem.Subject = 'Re: STOP SASSOUNIAN PAROLE';
                mailItem.Body = $('#div' + $scope.template).html();
                mailItem.Body += '<p>Respectfully, <br/> ' +
                    $scope.title + ' ' + $scope.firstname + ' ' + $scope.lastname + '<br/>' +
                    $scope.addressline1 + '' + ($scope.addressline2 && $scope.addressline2.length > 0 ? ', ' + addressline2 : '') + ' ' +
                    $scope.city + ', ' + $scope.state + ' ' + $scope.postalcode + '<br/>' + 
                    '<a href="mailto:' + $scope.emailaddress + '">' + $scope.emailaddress + '</a></p>';

                $http.post('http://www.mksoftwaresolutions.net/services/api/email/send', mailItem, {
                    headers: {
                        'Authorization': 'Bearer ' + accessToken,
                        'Content-Type': 'application/json'
                    }
                }).then(
                    //success
                    function (data) {
                        if (data.status == 200) {
                            $('#myModal').modal('hide');
                            // $('#result').html(mailItem.Body);
                            window.location.href = "thanks.html?name=" + $scope.firstname + ' ' +
                                $scope.lastname + '&email=' + $scope.emailaddress;
                        }
                    },
                    // error
                    function (data) {
                        $('#modalDynamicBody').html('<div style="color:red;">Error:'+ data.status + ' - ' + data.statusText + '</div');
                    });
            }
        }]);
    </script>
</body>

</html>