<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Letter</title>
    <style>
        input.ng-dirty.ng-invalid {
            border: 1px solid red;
        }
        
        form label {
            font-size: 12px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: -2px;
        }
        
        .messages label {
            margin-bottom: 10px;
        }
        
        input[type=radio] {
            vertical-align: top;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>

<body ng-app="messageApp">
    <div style="margin-top:10px; min-height: 10px;">&nbsp;</div>
    <div class="container" ng-controller="messageController">
        <div class="row well">
            <div class="col-md-4">
                <form name="messageForm" novalidate>
                    <div class="form-group">
                        <label for="txtTitle">YOUR TITLE *</label>
                        <select id="ddTitle" name="ddTitle" ng-model="title" class="form-control" required>
                            <option value="Mr.">Mr.</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">YOUR FIRST NAME - ISIM *</label>
                        <input type="text" class="form-control" ng-model="firstname" id="txtFirstName" name="txtFirstName" placeholder="First Name"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">YOUR LAST NAME - SOYAD *</label>
                        <input type="text" class="form-control" ng-model="lastname" id="txtLastName" name="txtLastName" placeholder="Last Name" required
                        />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">YOUR EMAIL - EMAIL *</label>
                        <input type="email" class="form-control" ng-model="emailaddress" id="txtEmail" name="txtEmail" placeholder="Email Address"
                            ng-pattern="emailPattern" required />
                    </div>
                    <div class="form-group">
                        <label for="txtAddressLine1">ADDRESS 1 *</label>
                        <input type="text" class="form-control" ng-model="addressline1" id="txtAddressLine1" name="txtAddressLine1" placeholder="Address"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="txtAddressLine2">ADDRESS 2</label>
                        <input type="text" class="form-control" ng-model="addressline2" id="txtAddressLine2" name="txtAddressLine2" placeholder="Address (Cont'd)"
                        />
                    </div>
                    <div class="form-group">
                        <label for="txtCity">CITY - SEHIR * </label>
                        <input type="text" class="form-control" ng-model="city" id="txtCity" name="txtCity" placeholder="City" required />
                    </div>
                    <div class="form-group">
                        <label for="ddState">STATE / PROVINCE - EYALET / IL</label>
                        <input type="text" class="form-control" ng-model="state" id="ddState" name="ddState" placeholder="State / Eyalet" />
                    </div>
                    <div class="form-group">
                        <label for="txtPostalCode">ZIP / POSTAL CODE - POSTA KODU *</label>
                        <input type="text" class="form-control" ng-model="postalcode" id="txtPostalCode" name="txtPostalCode" placeholder="Zip / Postal Code"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="ddState">COUNTRY - ULKE *</label>
                        <select name="country" size="1" class="form-control" ng-model="country" id="ddCountry" name="ddCountry" required>
                            <option value="">-- Choose a Country --</option>
                            <option value="Australia">Australia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="United States of America" selected>United States of America</option>                            
                        </select>
                    </div>
                    <div>
                        <span style="font-size:10px">* Required fields</span>
                    </div>
                    <div style="font-size:12px">
                        <p style="text-align:right;">
                            RECIPIENT<br/> Governor Edmund G. Brown Jr.<br/> c/o State Capitol, Suite 1173<br/> Sacramento,
                            California 95814
                        </p>
                    </div>
                    <div style="text-align:right;">
                        <input class="btn btn-default" type="submit" style="border-radius:20px; font-weight: bold; padding:10px;" ng-disabled="messageForm.$invalid"
                            value="SEND MESSAGE" ng-click="onSubmit()" />
                    </div>
                </form>
            </div>
            <div class="col-md-8 messages">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom:10px;">SELECT YOUR MESSAGE</div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12">                            
                            <div class="row">
                                <input id="template1" name="templates" type="radio" ng-model="template" value="template1" />
                                <label for="template1">1. Governor’s Office Last Stand for Justice</label>
                            </div>
                            <div class="row">
                                <input id="template2" name="templates" type="radio" ng-model="template" value="template2" />
                                <label for="template2">2. Assassin Sassounian = Assassin Sirhan</label>
                                
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            
                            <div class="row">
                                <input id="template3" name="templates" type="radio" ng-model="template" value="template3" />
                                <label for="template3">3. Do Not Reward Terrorism</label>
                            </div>
                            <div class="row">
                                <input id="template4" name="templates" type="radio" ng-model="template" value="template4" />
                                <label for="template4">4. Does California have a policy to release<br/> terrorists?</label>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>MESSAGE</h3>
                    </div>
                </div>
                <div class "row">
                    <div class="col-md-12">
                        <div id="divtemplate1">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <p style="font-weight:bold;">Governor’s Office Last Stand for Justice</p>
                            <div>
                                <ul style="list-style-position: inside;padding-left: 0; font-weight: bold;">
                                    <li>For Victims of Terrorism</li>
                                    <li>For Civil Servants Killed in the Line of Duty</li>
                                </ul>
                            </div>
                            <p>Dear Governor Brown:</p>
                            <p>On December 27, 2019, two misguided commissioners of the California Board of Parole Hearings (BPH) offered a release date to Hampig “Harry” Sassounian, the assassin of the Los Angeles Turkish Consul General Kemal Arikan.  I respectfully urge that you reverse this decision and, thus, keep this unreformed terrorist in prison. Sassounian was a member of the Justice Commandos (JCAG), which claimed credit for Consul General Arikan's assassination immediately after it occurred. Nevertheless, Sassounian refuses to admit this association. The FBI once rated the JCAG the most active Middle Eastern terrorist organization on American soil, killing four Turkish diplomats (three in California) and injuring dozens of Americans.</p>
                            <p>Furthermore, Sassounian insists on entering free society as a hero of the Armenian Cause. He was published widely regarding his dream to fight for Armenia. He has never publicly apologized to the victims – the Turkish Republic or Arikan family. Only in December of last year could he bring himself to ask that a statement be published in which he disavowed political violence. And even then, it was in an obscure newspaper in the Armenian language. Glaringly, Sassounian has never denounced Armenian terrorism.

                                    Sadly, BPH also did not respect the rights of the victims, by deliberately not providing notice of the hearing and then offering excuses just days before the hearing. Releasing any murderer without the proper participation of victims is not only an improper grant of parole, but it, also compounds the pain caused by the murder and continues the commission of the murder. Turkey and the Arikan Family were owed proper notice, and their voices should have been heard on such a critical matter as the parole of the assassin.
                                    
                                    Arbitrarily and quietly, BPH ignored Turkey’s victim status and denied every victim participation in the parole hearing of December 27, 2019:</p>
                            <ul>
                                <In></In early June, BPH informed Turkey that Sassounian was requesting early paroleli>
                                <li>In late June, Turkey appeared and opposed Sassounian request</li>
                                <li>In early July, BPH denied Sassounian’s request for early parole</li>
                                <li>In made July, BPH reversed its own decision without informing the parties, and set a parole date of December 27, 2019</li>
                                <li>Turkey learned of the parole date from the Los Angeles District Attorney only days before the parole hearing.</li>
                            </ul>
                                    <p>BPH ignored Turkey’s victim status despite abundant hearing testimony by Sassounian that he put more than 10 bullets into Consul General Kemal Arikan <u>because Arikan was a Turkish official</u>. Under California law, the murder of a civil servant in the line of duty is an attack against the State of California — an attack against all civil servants. When Sassounian assassinated Mr. Arikan, he attacked all civil servants.
                            </p>
                            <p>Indeed, your office is the last stand for justice, not only for victims of terrorism but also for civil servants killed in the line of duty. Civil servants deserve the respect and dignity of the office they serve. All victims of a killing deserve to be heard at a hearing on whether the killer should be released. 
                            </p>
                            <p>On May 12, 2017, your predecessor, Jerry Brown, reversed the BPH’s similarly misguided decision of December 14, 2017, to release Sassounian. I respectfully ask that you kindly do the same, and that you ask the BPH to give Sassounian a denial of longer than three years.</p>
                            <p>Please visit <a href="http://www.stopterroristparole.org/2020/" target="_blank">www.StopTerroristParole.org</a> to view the evidence.
                            </p>
                        </div>
                        <div id="divtemplate2">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Assassin Sassounian = Assassin Sirhan</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am outraged with the December 27, 2019 irresponsible decision of BPH to provisionally grant parole to Hampig “Harry” Sassounian, who was a member of the "Justice Commandos” (JCAG), which the FBI described as the most active Middle Eastern terrorist group on American soil in the early 1980s. Sassounian murdered Turkish Consul General Kemal Arikan and destroyed his family. At one of his parole hearings, he admitted that he was “ecstatic”, “joyful” and “at peace” after assassinating Mr. Arikan.</p>
                            <p>As you may know, there are only two political assassins behind bars in California; Sassounian and Sirhan Sirhan, the murderer of Senator Robert F. Kennedy. While Sirhan was a lone actor, Sassounian was a member of the JCAG, a Lebanon-based international terrorist organization that committed over 250 acts of terror, killing dozens of Turkish diplomats, including four in the United States (three in California), and 40 civilians (including Americans), and injuring over 700 worldwide. </p>
                            <p>The Armenian American leadership, particularly the Armenian Revolutionary Federation (ARF), and its U.S. representative, the Armenian National Committee of America (ANCA), remain indignant, have refused to condemn Armenian terrorism, and continue to characterize Sassounian a political prisoner. Sassounian has done nothing to oppose them, as he continues to embody the spirit of Armenian violent extremism in modern times.</p>
                            <p>Sassounian authored an article in an Armenian militia magazine, Hay Zinvor, stating that as soon as he is released, he will join the armed mission of the Armenian Cause. At a prior parole hearing, Sassounian expressed regret for writing the article, but not for its contents. Sirhan Sirhan’s intentions were also to resume violent extremism, but thankfully he is in prison for life.  So should Sassounian be kept in prison.<br/>Please visit <a href="http://www.stopterroristparole.org/2020/" target="_blank">www.StopTerroristParole.org</a> to view the evidence.
                            </p>
                            <p>Please reverse the decision of the BPH, and keep us safe.</p>
                        </div>
                        <div id="divtemplate3">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Do Not Reward Terrorism</h4>
                            <p>Dear Governor Brown:</p>
                            <p>I am deeply concerned regarding the December 27, 2019, misguided decision by BPH to grant parole to Hampig “Harry” Sassounian, who assassinated a foreign diplomat on American soil.

                                    Sassounian was a member of the "Justice Commandos” (JCAG), an armed terrorist group that killed 4 Turkish diplomats in America, and injured dozens of other Americans. JCAG killed over 30 Turkish diplomats (including four on American soil), 40 civilians (including Americans), and injured over 700 people worldwide. The California Armenian community supplied the majority of JCAG operatives, including Hampig Sassounian.</p>
                            <p>According to the FBI, Sassounian’s terror group, JCAG, was the militant wing of the Armenian Revolutionary Federation (ARF) political party, which is represented in the U.S. by the Armenian National Committee of America  (ANCA), who has supported and lobbied for the release of Sassounian. Indeed, the former National Chairman of ANCA, Mourad Topalian, himself, was convicted in federal court of illegally possessing automatic weapons, explosives, and ammunition in a storage locker near a public school in Cleveland, Ohio, which the FBI linked to several JCAG terrorist attacks nationwide, including one in New York City. Please visit <a href="http://www.stopterroristparole.org/2020/" target="_blank">www.StopTerroristParole.org</a> to view the evidence.
                            </p>
                            <p>Unbelievably, Sassounian denies his connections to JCAG. He shows no remorse for his terrorist activities. Worse, he has refused to oppose those who applaud him as a hero of the Armenian Cause.
                            </p>
                            <p>I am concerned for the safety of my family and community. The prison psychiatrist's report warns there is no assurance of how Sassounian will react in a free society.  </p>
                            <p>Please reverse the decision of the Parole Board, keep this assassin behind bars, and keep us safe. Please do not reward terrorism.</p>                            
                        </div>
                        <div id="divtemplate4">
                            <p style="color:maroon; font-weight:bold;">STOP SASSOUNIAN PAROLE</p>
                            <h4 style="font-weight:bold;">Does California have a policy to release terrorists?</h4>
                            <p>Dear Governor Brown:</p>
                            <p>As I understand, on December 27, 2019, two commissioners of the Board of Parole Hearings granted provisional release to first-degree murderer and international terrorist, Hampig “Harry” Sassounian. Mr. Sassounian assassinated Turkish Consul General Kemal Arikan because of his diplomatic activities, and destroyed his the Arikan family.  

                                    I have read transcripts and other publicly available documents and notice that the Parole Board's decision appears to reflect a soft-spoken policy to release older murderers to make room for younger offenders in California's overcrowded prisons. But no matter how crowded California’s prisons are, this policy cannot be applied to terrorists and assassins who murder people purely for political and ideological reasons. In his own words, Sassounian assassinated a Turkish official because he did not agree with his point of view on World War I history. </p>
                            <p>Turning to younger offenders, for whom it would like to create more space in California’s prisons, the Parol Board seemed to excuse Sassounian because he was 18 when he assassinated the Turkish Consul General to Los Angeles: “youthful indiscretion", is what they conveniently called it. But, youthful indiscretion does not excuse the careful preparation, coordination and execution of an act of international terrorism. Mr. Sassounian committed this political assassination with two others; Koko Saliba who fled back to Lebanon after the assassination, and a third who the FBI reported served as a spotter. Through six parole hearings so far, Mr. Sassounian continues to protect the identify of the third terrorist.</p>
                            <p>Sassounian intended to cause terror and disrupt the proper functioning of foreign relations between the United States and Turkey. He achieved that by silencing many experts, scholars, universities, think tanks, legislators, statesmen, and especially ordinary Californians — with terror.</p>                            
                            <p>Please reverse the decision of the Parole Board, and keep us safe.</p>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="padding-left:15px;">
                            Respectfully, <br/> {{ firstname.length >0 && lastname.length > 0 ? title + ' ' + firstname +
                            ' ' + lastname : "[Your Name]" }}<br/> {{ addressline1.length >0 ? addressline1 + '' + (addressline2.length>0
                            ? ', ' + addressline2 : '') : "[Your Address]" }} {{ city.length > 0 ? city : "[City]" }}{{ state.length
                            > 0 ? ', ' + state : "" }}{{ postalcode.length > 0 ? ' ' + postalcode : "[Zip]" }}<br/> {{ country.length
                            > 0 ? ' ' + country : "[country]" }} <br/>{{ emailaddress.length > 0 ? emailaddress : "[EmailAddress]"
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sending Email</h4>
                </div>
                <div class="modal-body">
                    <p id="modalDynamicBody">Please wait, your message is on its way.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {

            var templates = ['divtemplate1', 'divtemplate2', 'divtemplate3', 'divtemplate4'];
            var hideoptions = { "direction": "left", "mode": "hide" };
            var showoptions = { "direction": "right", "mode": "show" };

            $.each(templates, function (index, value) {
                if (index > 0)
                    $('#' + value).hide();
            });

            $('#ddCountry').on('change', function () {
                if ($('#ddCountry').val() == 'Australia') {
                    // $('#template8').prop('disabled', false);
                }
                else {
                    if ($('input[name=templates]:checked').val() == 'template8') {
                        $('#template1').prop('checked', true);
                        $('input[name=templates]:checked').change();
                        var scope = angular.element($("input[name=templates]")).scope();
                        scope.$apply(function () {
                            scope.template = 'template1';
                        });
                    }
                    // $('#template8').prop('disabled', true);

                }
            });

            $('#template1').prop('checked', true);

            $('input[type=radio][name=templates]').on('change', function () {
                var templateid = $(this).attr('id');
                var divtemplateid = 'div' + templateid;

                $.each(templates, function (index, value) {
                    if (value != divtemplateid) {
                        $('#' + value).hide();
                    }
                })
                $('#' + divtemplateid).effect('slide', showoptions, 1000);
            })
        });
    </script>
    <script>
        var app = angular.module('messageApp', []);
        var accessToken = 'lQR2Cf7PrkLnV0CTdcet03vL67ZfwN32A7twlEXMu3fLbZ5zzSWK_pTT6_FrrlLUi-Uwt7XxrE4_JScc8bWNUNQ17OqHOfHp-an8AydpXw6iBIamDS-HFheo3OzTYHWwAThW5sxBJzi2jXxwgLmAKQA0cuGowJnZ7YuAUPQD7QFDdT1Q8pRI8AQsQpcm6rZ82M0496Gr6q_G3no_u3ot_wz5W0A3q_Qc81nO6eYByS_Ko0yAi2aPDc2dVLZHbnEy23CGl_YL_AQn6ZRTiznD6wctTZPCBf_Y4VWbyhx9gdBfT4dRiDHSn84N3AehnDZH4pw5QkmuNE0HWRVdvB_t7SeP7SZkUJ4d0Tk-RWHRGd_x3mu3H7zTqIEe7KHvAwJ-gNbyQ0epjMZCPLCQjRx-bOV5GEeWk317QKRObI6RN1p6cm2f-HnVkS9OgO-ys6o7Zr9p28KSmNWd4V-N1e180GdkadmiWEy0NDowHF_nPBv7dSBn4buWjgry_hNxNpob';
        app.controller('messageController', ['$scope', '$http', function ($scope, $http) {
            $scope.title = "Mr.";
            $scope.emailPattern = /^([a-zA-Z0-9])+([a-zA-Z0-9._%+-])+@([a-zA-Z0-9_.-])+\.(([a-zA-Z]){2,6})$/;
            $scope.template = "template1";
            $scope.country = "United States of America";
            $scope.onSubmit = function () {
                // TODO: build email body here and send to mksoftwaresolutions.net
                $('#myModal').modal('show');
                mailItem = {};
                mailItem.To = ['muratkazanova@outlook.com', 'mkazanova.us@gmail.com'];                
                if ($scope.template == 'template8') {                                        
                    mailItem.Cc = ['Julie.Bishop.MP@aph.gov.au', 'Michael.Keenan.MP@aph.gov.au','Peter.Dutton.MP@aph.gov.au'];
                }
                else {
                    mailItem.Cc = [];
                }
                //mailItem.Bcc = ['info@stopterroristparole.org'];
                mailItem.From = $scope.emailaddress;
                mailItem.Subject = 'STOP SASSOUNIAN PAROLE';
                mailItem.Body = $('#div' + $scope.template).html();
                mailItem.Body += '<p>Respectfully, <br/> ' +
                    $scope.title + ' ' + $scope.firstname + ' ' + $scope.lastname + '<br/>' +
                    $scope.addressline1 + '' + ($scope.addressline2 && $scope.addressline2.length > 0 ? ', ' + $scope.addressline2 : '') + ' ' +
                    $scope.city + ', ' +
                    ($scope.state && $scope.state.length > 0 ? $scope.state + ' ' : '') +
                    $scope.postalcode + '<br/>' +
                    $scope.country + '<br/>' +
                    '<a href="mailto:' + $scope.emailaddress + '">' + $scope.emailaddress + '</a></p>';

                $http.post('https://mkssazurefunctions.azurewebsites.net/api/SendEmail', mailItem, {
                    headers: {                        
                        'Content-Type': 'application/json'
                    }
                }).then(
                    //success
                    function (data) {
                        if (data.status == 200) {
                            $('#myModal').modal('hide');
                            // $('#result').html(mailItem.Body);
                            window.location.href = "thanks.html?name=" + $scope.firstname + ' ' +
                                $scope.lastname + '&email=' + $scope.emailaddress;
                        }
                    },
                    // error
                    function (data) {
                        $('#modalDynamicBody').html('<div style="color:red;">Error:' + data.status + ' - ' + data.statusText + '</div');
                    });
            }
        }]);
    </script>
</body>

</html>